<div class="row contact">
  <h1 class="text-center">Contact</h1>
  <div class="col-xs-6 col-sm-4 col-sm-offset-2 headshot">
    <%= image_tag ("headshot.jpg"), class: "headshot" %>
  </div>
  <div class="col-sm-4 col-xs-6">
    <p class="about_text">
      Squid chillwave yr heirloom jean shorts, lumbersexual taxidermy man braid cronut bitters ugh tattooed four dollar toast. Four dollar toast scenester chicharrones thundercats, disrupt heirloom blue bottle. Banjo keffiyeh vegan man braid gluten-free.
    </p>
    <div class="social_links">
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-flickr"></i></a>
      <a href="#"><i class="fa fa-envelope"></i></a>

    </div>
  </div>
</div>
