.gallery_image {
  position: absolute;
  height:240px;
  width: 100%;
  display: inline-block;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.image {
  display: inline-block;
  padding: 0;
  height: 240px;

}

.categories {
  margin: 20px 0px;
}

.category {
  padding: 2px 10px;
  border: 2px solid dodgerblue;
  border-radius: 10px;
  &:hover {
    text-decoration: none;
    background: dodgerblue;
    color: white;
  }
}
.picture {
  margin-top: 20px;
}
.lb-outerContainer {
  background: none;
  border-radius: 0px;
}
