<% @post.each do |p| %>
<div class="gallery <%= p.category %>">
<h3> <%= link_to p.title, image_path(p.id) %> </h3>
<%= link_to (image_tag p.image.url(:thumb)), image_path(p.id) %>
</div>
<% end %>
<br>
<br>
<br>
<% if admin_signed_in? %>
  <%= link_to "Upload", new_post_path %>
<% end %>
